<h1>Ngx-tagify Demo</h1>
<div>
  <form [formGroup]="form" class="form-tagify" novalidate (ngSubmit)="onSubmit()">
    <label for="ng-tagify">Tagify</label>
    <ngx-tagify id="ngx-tagify" name="tagify" formControlName="tagify" [whitelist]="tagifyWhitelist"
      (change)="tagifyChange($event)">
    </ngx-tagify>
    <br />
    <label for="ng-tagify-mix">Tagify (mode:mix)</label>
    <ngx-tagify #tagify=NgxTagify id="ngx-tagify-mix" name="tagifyMix" formControlName="tagifyMix"
      [settings]="tagifySettings" [whitelist]="tagifyWhitelist" (change)="tagifyChange($event)">
    </ngx-tagify>
    <small>Use @ and # to trigger tag suggestion list.</small>
  </form>
<pre>{{form.value | json}}</pre>
</div>